:root{
    --color-first: #053B50;
    --color-second: #176B87;
    --color-third: #64ccc5;
    --color-forth: #EEEEEE;

    --shadow-navbar: 0 4px 2px -2px rgba(0,0,0,0.5);

}

a{
    color:var(--color-forth);
    text-decoration: none;
}

li{
    list-style: none;
}

/* landing Page */
.landing-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: var(--color-first);

    padding: 10px;

    height: 60px;

    gap: 50px;

    box-shadow: var(--shadow-navbar);

    position: sticky;
}

.landing-logo, ul, .landing-menu{
    display: flex;
    flex-direction: row;
}

.landing-logo{
    flex: 1;
    align-items: center;
    justify-content: center;
    
    gap: 10px;
}

.landing-logo i{
    font-size: 40px;
    color: var(--color-forth);
}

.landing-logo span{
    font-size: xx-large;
    font-weight: bolder;
}

.landing-list{
    flex: 2;
}

.landing-list ul{
    justify-content: space-between;
    width: 70%;

    padding: 10px;

    font-size: large;
}

.landing-menu{
    flex: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 20px;
}

.landing-menu input{
    width: 250px;
    height: 30px;

    border-radius: 5px;
    border: none;

    background-color: var(--color-forth);

    padding-left: 15px;
}

.landing-login{
    font-size: large;
}

.landing-main{
    color: var(--color-forth);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    height: 80%;
    width: 80%;

    margin: 250px 0px 0px 200px;
}

.landing-main h1{
    font-size: 45px;
    margin-bottom: 10px;
    margin-right: 0px;
}